@model IEnumerable<AgendaFornecedores.Models.Fornecedor>

@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Página inicial";
    //sessao falsa para testes
    Context.Session.SetString("usuario", JsonConvert.SerializeObject(new Usuario("nome", "1234","GG_TI", true,true)));

}

    @if (Context.Session.GetString("usuario") == null)
    {
        
        Layout = null;
        <section>
            <h1>Digite seu usuario e senha </h1>
            <form method="post" asp-controller="Home" asp-action="Login">
                <label>Nome</label>
                <input type="text" required name="nomeUsuario">

                <label>Senha</label>
            <input type="text" required name="senhaUsuario">

                <button type="submit">Validar</button>
            </form>

            <h2>@TempData["mensagem"]</h2>
    </section>

}
else {
    Usuario user = new Usuario("", "","GG_TI", true, true);

    if (Context.Session.GetString("usuario") != null)
    {
        user = JsonConvert.DeserializeObject<Usuario>(Context.Session.GetString("usuario"));
    }
    <section class="text-center">

        <h1 class="display-4">Agenda de fornecedores</h1>


        <ul>
            <li style="border:solid grey 2px;margin-bottom:1%;" class="row">
                <h5 class="col">Nome</h5>
                <h5 class="col">CNPJ</h5>
                <h5 class="col"> e-mail</h5>
                <h5 class="col"> Contato</h5>
                <h5 class="col">Grupo de Trabalho</h5>
                <h5 class="col">Vencimento de fatura</h5>
                <h5 class="col"> Anotações</h5>
                

                @if(user.Midadm){
                    <div class="col"></div>
                    <div class="col"></div>
                }
      
            </li>
                    @foreach (Fornecedor fornecedor in Model)
                    {
                        <li style="border:solid grey 2px;margin-bottom:1%;"class="row">
                            <p class="col">@fornecedor.Nome</p>
                            <p class="col">@fornecedor.Cnpj</p>
                            <p class="col">@fornecedor.Email</p>
                            <p class="col">@fornecedor.Contato</p>
                            <p class="col">@fornecedor.Grupo_trabalho</p>
                            <p class="col">@fornecedor.VencimentoFatura</p>

                            <p class="col">@fornecedor.Anotacao</p>

                    @if (user.Midadm)
                    {
                        <form class="col btn" onsubmit="return Alterar()">
                            <button type="submit" class="col btn btn-outline-secundary btn-light">Alterar</button>
                        </form>

                        <form class="col btn" onsubmit="return Deletar()" asp-controller="Fornecedor" asp-action="Deletar">
                        <!--asp-controller="Fornecedor" asp-action="DeletarFornecedor"-->
                        <input value="@fornecedor.Cnpj" hidden name="cnpj">
                        <button  type="submit" class="col btn btn-outline-secundary btn-light" > Deletar </button>
                        </form>

                    }
                        </li>                   
                    }
            </ul>
        </section>
    }

<script type="text/javascript" src="~/site.js"></script>

    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->

