@{
    ViewData["Title"] = "Página inicial";
}

    @if (Context.Session.GetString("usuario") == null)
    {
        Layout = null;
        <section>
            <h1>Digite seu usuario e senha </h1>
            <form method="post" asp-controller="Home" asp-action="Login">
                <label>Nome</label>
                <input type="text" required name="nomeUsuario">

                <label>Senha</label>
            <input type="text" required name="senhaUsuario">

                <button type="submit">Validar</button>
            </form>

            <h2>@TempData["mensagem"]</h2>
        </section>

    }
    else {
   
        <section class="text-center">

            <h1 class="display-4">Agenda de fornecedores @Context.Session.GetString("usuario")</h1>

            <p>Aqui jaz o primeiro texto modificado desse projeto em .NET Core</p>

            <ul>
                <li style="border:solid grey 2px;margin-bottom:1%;" class="row">
                    <p class="col">nome</p>
                    <p class="col">cnpj</p>
                    <p class="col"> email</p>
                    <p class="col"> contato</p>
                    <p class="col"> anotações</p>
                    <button class="col btn btn-outline-secundary btn-light">Aleterar</button>
                    <button class="col btn btn-outline-secundary btn-light">Deletar</button>
                </li>

            
                    @for (int i = 0; i < 3; i++)
                    {
                        <li style="border:solid grey 2px;margin-bottom:1%;"class="row">
                        <p class="col">nome @i</p>
                            <p class="col">cnpj @i</p>
                            <p class="col"> email @i</p>
                            <p class="col"> contato @i</p>
                            <p class="col"> anotações @i</p>
                            <button class="col btn btn-outline-secundary btn-light">Aleterar</button>
                            <button class="col btn btn-outline-secundary btn-light">Deletar</button>
                        </li>                   
                    }
            </ul>
        </section>
    }
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->

